
.row {
    color: white;
    font-size: 16px;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
  width: 100px;
  height: 40px;
  text-align: center;
}

.container h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(45deg, #ff20e1, #ff0c0c);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-30%, -30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100px;
  height: 100px;
}
.image h2{
    border: 2px solid rgb(255, 0, 0);
    padding: 5px;
    background-image: linear-gradient(45deg, #ff20e1, #ff0c0c);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
.img.animate {
    animation: bounce 0.3s ease-in-out;
}